#divSousJustifs{
    display: none;
}
.divRadios{
    text-align: center;
    /*display: flex;
    justify-content: space-around;*/
}
.divRadios
{
display:flex;
justify-content:center;
}
.divRadios div
{
margin-left:5px;
margin-top:3px;
}
.intro-header
{
    background-image:url("../img/office-work.jpg");
    padding-top:50px;
    padding-bottom:50px;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:100%;
    
}
.divRadios
{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:dashed 2px rgba(0, 0, 0, 0.24);
}
.titre
{
    text-align:right;
    font-size:24px;
    color:#000000;
    margin-right:20px;

}
.filtre_sec
{
    display:flex;
    justify-content:space-between;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
}
.mailsearch
{
    display:flex;
}
.mailsearch input,.mailsearch select
{
    margin-right:20px;
}
#nb_ligne
{
    width:90px;
}
#th-mobile
{
    width:105px;
}
.eltTr
{
    border-bottom:2px solid #ffffff;
}

#recherchePoi_chosen a
{
     height:35px;   
     margin-right:20px;
}
#recherchePoi_chosen a
{
     height:35px;   
     margin-right:20px;
}
#recherchePoi_chosen span
{
    margin-top:5px; 
}

#searchCommentBar
{
    width:250px;
    display:-webkit-inline-box;
    margin-left:30px;
}
#statsUi
{
    height:45px;
    background-color:#2c3e50;
}
#listeStatsUi{
    display: flex;
}
#listeStatsUi div
{
    color:#c5c5c5;
    margin-left:50px;
}
.green
{
    color:green;
}
.red
{
    color:red;
}
.stat_icon
{
    top:3px;
}
#statUiExpend
{
    height:450px;
    background-color:#2c3e50;
    display:none;
    
}
.listeTableUi
{
    border: solid 1px #2c3e50;
    min-width:250px;
    border-radius:10px;
    margin-top:50px;
    height:449px;
    margin-left:50px;
    /* box-shadow: 3px 3px 15px 1px rgba(6, 5, 5, 0.37); */

}
.tableStatDomaine
{

    justify-content:space-between;
    list-style:none;
    
    margin:25px;
    color:#ecf0f1;
    border-bottom:dashed 2px #3d556d;
}
.tableStatTitle
{
    text-align:center;
}
.graphStat,.tableStatDomaine,.tableStatTitle,.listeTableUi
{
 display: none;
}
#allTableStat
{
    display:flex;
     overflow:hidden;
    white-space:nowrap;
    position:absolute;
    
}
#allTableStat
{

   
    
}
.tbl_domaine:hover
{
    cursor:pointer;
    font-weight: bold;

}