#divSousJustifs{
    display: none;
}
.divRadios{
    text-align: center;
    /*display: flex;
    justify-content: space-around;*/
}
.divRadios
{
display:flex;
justify-content:center;
}
.divRadios div
{
margin-left:5px;
margin-top:3px;
}
.intro-header
{
    background-image:url("../img/office-work.jpg");
    padding-top:50px;
    padding-bottom:50px;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:100%;
    
}
.divRadios
{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:dashed 2px rgba(0, 0, 0, 0.24);
}
.titre
{
    text-align:right;
    font-size:24px;
    color:#000000;
    margin-right:20px;

}
.filtre_sec
{
    display:flex;
    justify-content:space-between;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
}
.mailsearch
{
    display:flex;
}
.mailsearch input,.mailsearch select
{
    margin-right:20px;
}
#nb_ligne
{
    width:90px;
}
#th-mobile
{
    width:105px;
}
.eltTr
{
    border-bottom:2px solid #ffffff;
}

#recherchePoi_chosen a
{
     height:35px;   
     margin-right:20px;
}
#recherchePoi_chosen a
{
     height:35px;   
     margin-right:20px;
}
#recherchePoi_chosen span
{
    margin-top:5px; 
}

#searchCommentBar
{
    width:250px;
    display:-webkit-inline-box;
    margin-left:30px;
}
#statsUi
{
    height:45px;
    background-color: #ecf0f1;
    box-shadow:0px -10px 10px 1px #0000000a inset;
}
#listeStatsUi{
    display: flex;
}
#listeStatsUi div
{
    width:100%;
    color:#c5c5c5;

    display:flex;
    justify-content:space-around;
}
#listeStatsUi h4
{
   margin-bottom:0px;
}
.green
{
    color:green;
}
.red
{
    color:red;
}
.stat_icon
{
    top:3px;
}
#statUiExpend
{
    height:450px;
    background-color:#2c3e50;
    display:none;
    
}
.listeTableUi
{
    border: solid 1px #2c3e50;
    min-width:250px;
    border-radius:10px;
    margin-top:50px;
    height:449px;
    margin-left:50px;
    /* box-shadow: 3px 3px 15px 1px rgba(6, 5, 5, 0.37); */

}
.tableStatDomaine
{

justify-content:space-between;

list-style:none;

margin:25px;

color: #000000;

font-weight: bold;

border-bottom:dashed 2px #3d556d;
}
.tableStatTitle
{
    text-align:center;
}
#left-scroll
{
    left:0px;
    width:50px;
    height:500px;
    background-color:rgba(255, 255, 255, 0);
    z-index:1000;
    position:absolute;
    
    }
    #right-scroll
{
    right:0px;
    width:50px;
    height:500px;
    background-color:rgba(78, 45, 45, 0);
    z-index:1000;
    position:absolute;
    
    }
    #left-scroll span
{
    left:15px;
    top:250px;
    font-size:50px;
    color: rgba(0, 0, 0, 0.25);
    }
       #left-scroll span:hover
{
    top:250px;
    left:15px;
    font-size:50px;
    color:rgba(0, 0, 0, 0.38);
    cursor:pointer;
    }
    #right-scroll span
{
    top:250px;
    font-size:50px;
    color: rgba(0, 0, 0, 0.25);
    }
       #right-scroll span:hover
{
    top:250px;
    font-size:50px;
    color:rgba(0, 0, 0, 0.38);
    cursor:pointer;
    }
.graphStat,.tableStatDomaine,.tableStatTitle,.listeTableUi,#left-scroll,#right-scroll
{
 display: none;
}
#allTableStat
{
    display:flex;
     overflow:hidden;
    white-space:nowrap;  
   
}
.tbl_domaine:hover
{
    cursor:pointer;
    font-weight: bold;

}
.btn_detail
{
    min-width:170px;
    background-color:transparent;
    border:1px solid black;
    height:35px;
    font-weight:600;
    margin-top:5px;
    text-align:center;
    color:black;
    border-radius:5px;
    margin-right:5px;
}
.btn_detail:hover
{
      min-width:170px;
    background-color:rgba(226, 226, 226, 0.92);
    border:1px solid #7b4b4b;
    font-weight:600;
    height:35px;
    margin-top:5px;
    text-align:center;
    color:#2c3e50;
    border-radius:5px;
    margin-right:5px;
}
html
{

    overflow-x:hidden;

}
.header
{
    text-align:center;
    cursor:pointer;
}